# Server
PORT=3002

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_ATTENDANCE_DB=attendance_db

# Upstream service URLs
EMPLOYEE_SERVICE_URL=http://localhost:3001
